@import "tailwindcss";

@theme {
    --color-brand-50: #fff1f4;
    --color-brand-100: #ffe4ea;
    --color-brand-200: #fecdd6;
    --color-brand-300: #fba4b6;
    --color-brand-400: #f47297;
    --color-brand-500: #ec407a;
    --color-brand-600: #db2e6a;
    --color-brand-700: #b81f57;
    --color-brand-800: #921a48;
    --color-brand-900: #78173d;
}